<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">To-Do List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#footer">About</a>
                </li>
            </ul>

            {% if not request.cookies.get('session') %}
                <div class="d-flex">
                    <a href="/login" class="text-white me-2"><button class="btn btn-primary" type="submit">Login</button></a>
                    <a href="/register" class="text-white"><button class="btn btn-secondary" type="submit">Register</button></a>
                </div>
            {% endif %}
            {% if request.cookies.get('session') %}
                <div class = "d-flex">
                    <a href="/logout" class="text-white"><button class="btn btn-danger" type="submit">Logout</button></a>
                </div>
            {% endif %}

        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="text-center bg-dark" id="footer">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link" href="https://github.com/SockYeh/TodoList/blob/main/README.md">About</a></li>
                <li class="list-inline-item me-4"><a class="link" href="https://github.com/SockYeh/TodoList/">Source Code</a></li>
                <li class="list-inline-item"><a class="link" href="https://github.com/SockYeh/TodoList/blob/main/LICENSE">License</a></li>
            </ul>

            <p class="text-muted mb-0">Copyright © 2025 TodoList</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>